.driver-page-container {
	height: 100vh;
	display: flex;
	flex-direction: column;

	.driver-page-content {
		flex: 1;
	}

	.driver-page-tab-bar {
		flex: 0;
		border-top: solid 1px var(--adm-color-border);
		padding-top: 10px;
	}
	.driver-tab-icon {
		width: 22px;
		height: 22px;
	}
}
