.driver-rode-container {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	.driver-rode-search-container {
		padding: 2px 12px 10px 12px;
	}
	.driver-rode-search-item {
		margin-top: 10px;
	}
	.driver-rode-action-bar {
		display: flex;
		height: 50px;
		margin-top: 10px;
	}
	.driver-route-summary {
		margin-left: 16px;
		font-size: 14px;
		width: calc(100% - 100px);
		display: flex;
		justify-content: space-between;
	}
	.fullscreen-icon {
		width: 24px;
		height: 24px;
		margin-top: 22px;
		&.exit {
			position: absolute;
			right: 10px;
			top: 0px;
			z-index: 10;
			width: 30px;
			height: 30px;
			background-color: #fff;
			border-radius: 15px;
			padding: 4px;
			box-sizing: border-box;
		}
	}
	.driver-rode-navigate-button {
		height: 40px;
		font-size: 18px;
	}
	.rode-map-container {
		width: 100%;
		height: 45%;
	}
	.notice-order-content {
		width: calc(100vw - 50px);
	}
	.notice-order-line {
		margin-bottom: 0;
		margin-top: 0;
	}
	.notice-order-action {
		text-align: right;
	}
	.adm-list-item-content-main {
		margin: 0;
		padding: 0;
		font-size: 14px;
	}
	.order-item {
		color: #000;
		margin: 0;
		padding: 0;
		line-height: 14px;
		&.grey {
			color: #777;
		}
		.price {
			color: #4c5ec0;
			font-weight: bold;
		}
		.rode-icon {
			vertical-align: middle;
			margin-left: 3px;
		}
	}
	.route-item {
		margin: 10px 0;
	}
	.seat-item {
		margin-left: 8px;
		color: #4c5ec0;
		font-weight: bold;
	}
	.route-item {
		text-align: left;
		margin: 0;
	}
	.route-item-detail {
		margin: 0 6px 10px 6px;
		font-size: 14px;
	}
	.rode-icon {
		vertical-align: middle;
		margin-left: 3px;
	}
	.disabled {
		color: #ccc;
	}
}
