.driver-rode-container {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	.driver-rode-search-container {
		padding: 16px;
	}
	.driver-rode-action-bar {
		display: flex;
		height: 60px;
	}
	.driver-route-summary {
		margin-left: 16px;
		font-size: 18px;
	}
	.driver-rode-navigate-button {
		height: 40px;
		font-size: 18px;
	}
	.rode-map-container {
		width: 100%;
		height: 45%;
	}
	.notice-order-content {
		width: calc(100vw - 50px);
	}
	.notice-order-line {
		margin-bottom: 0;
		margin-top: 0;
	}
	.notice-order-action {
		text-align: right;
	}
}
